@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
    --font-roboto: "Roboto", sans-serif;
    --color-primary: #2563EB;
    --color-success: #22C55E;
    --color-warning: #F59E0B;
    --color-danger: #EF4444;

    --color-background: #F8FAFC;
    --color-card: #FFFFFF;

    --color-text-dark: #0F172A;
    --color-text-gray: #64748B;
}

@utility scrollbar-none {
    &::-webkit-scrollbar {
        display: none;
    }
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@layer base {
    body {
        @apply bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-white transition-colors duration-200 ease-in-out;
    }
    *, ::before, ::after {
        transition-property: color, background-color, border-color;
        transition-duration: 200ms;
        transition-timing-function: ease-in-out;
    }
}